/*全ページ*/
/*背景色、フォントとテキストサイズ指定、最大幅、余白*/
body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-selif;
    font-size:18px;
    max-width: 1200px;
    margin:0 auto !important;
}

/*ヘッダー　社員名簿システム*/
#header-title{
    font-size: xx-large;
    font-weight: bold;
    vertical-align: bottom;
    height: 80px;
}
/*ヘッダー　トップ画面＆新規社員登録へ*/
#header-link{
    vertical-align: bottom;
    text-align:right;
}

/*検索フォーム*/
#form-search{
    width:50%;
    margin:0 auto;
    padding: 10px 40px;
    margin-bottom: 10px;
}

/*検索結果テーブル*/
#table table, #table td, #table th {
    border-collapse: collapse;
    border:1px solid #c3c3c3;
    padding: 4px 12px;
}

#table table{
    width:100%;
}

#table th{
    background-color:#c3c3c3;
}

/*検索結果テーブルの幅指定*/
.s-result{
    width:60%;
    margin:0 auto;
}

/*テキスト右寄せ*/
.textright{
    text-align:right;
}
/*テキスト左寄せ*/
.textleft{
    text-align:left;
}
/*テキスト中央寄せ*/
.textcenter{
    text-align:center;
}


/*ここからdetail*/

/*tableと余白の指定*/
.d-result table{
  width: 100%;
}
.d-result th{
  width:30%;
}
.d-result {
  margin-top: 50px;
}
